<div class="container">
  <div class="page">
    <div class="text">
      <div>
        <h2>About Me</h2>
      </div>
      <div>
        <p>
          My name is Gaurav Kumar. I am a passionate Software Developer with expertise in Full Stack Web Development and Data Analysis. My passion for computers started early in my life. After my first tryst with computers, which started with Logo, I realized that I had found my first and true love. I primarily used it to create various shapes and produce line graphics. I gradually moved on to the ‘BASIC’ language. I took to computer programming like a fish to water and very soon it became my career path. I was very clear early on that I would become a computer professional.
        </p>
      </div>
      <div>
        <p>
          I did my Bachelors from PES University in Information Science, which can be considered as my first formal introduciton to high level programming concepts and skills. The courses which I took kept my passion growing and the hunger to learn more never stopped on growing.
        </p>
      </div>
      <div>
        <p>
          CourseWork - Object Oriented Programming, Data Structures, Computer Networks, Software Engineering.
        </p>
      </div>
      <div>
        <p>
          New place, new university, new course work did not hold me back form achieving my dream of becoming a Software Developer and I came to the Germany to achieve this dream.
        </p>
      </div>
      <div>
        <p>
          I will graduate with Masters in Web & Data Science from University of Koblenz-Landau in May 2023, with expertise in Data Science.
        </p>
      </div>
      <div>
        <p>
          CourseWork - Big Data, Machine Learning, Data Analysis, Reinforcement Learning, Advanced Java, Foundations of Data Science, Graph Theory, Artificial Intelligence.
        </p>
      </div>
      <div>
        <p>
          To know more about my experience please switch to the experience tab
        </p>
      </div>
    </div>
  </div>
</div>
