<div class="container">
  <div class="page">
    <div class="text">
      <div>
        <h2>Experiences</h2>
      </div>

      <div class="col">
        <img style="height: 200px; width: 300px;" src="/assets/images/umyno.png">
        <p>
          Working Student - Data Analyst ( 11/2021 - Present, Frankfurt Am Main )
        </p>
      </div>
      <br/>
      <div class="col">
        <!-- <h3>Oracle</h3> -->
        <img style="height: 200px; width: 400px;" src="/assets/images/oracle.png">
        <p></p>
        <p>
          I have worked as Senior Data Analyst at Oracle from June 2018 till October 2020. My tasks and duties were as follows
        </p>
        <ul>
          <li>Designed and developed server less applications using Oracle cloud applications for people to run their experiments faster.</li>
          <li>Designed and developed applications to save efficiently use clusters, used to run Machine Leaning experiments , which resulted in saving millions of dollars.</li>
          <li>Designed and developed Instrumentation frame work used by the Machine Leaning Platform Services Team, to track the progress and failures ahead of time.</li>
          <li>Solved multiple high severity issues and improved the ticket queue by solving recurring issues by diving deep into the issue and coming up a solution, improving the overall project performance.</li>
          <li>Gave multiple KT sessions to train existing and new team members.</li>
          <li>Technologies used - Java, Dependency Injection Frameworks, Oracle Cloud.</li>
        </ul>
      </div>
      <div class="col">
        <!-- <h3>Reliance Retail Ecommerce</h3> -->
        <img style="height: 200px; width: 400px;" src="/assets/images/ajio.png">
        <p>
          I have worked as Software Developer 2 at Reliance Retail from May 2016 till June 2018. My tasks and duties were as follows
        </p>
        <ul>
          <li>Writing RESTful Api.</li>
          <li>Writing modular code for CI/CD development process.</li>
          <li>Writing unit test cases.</li>
          <li>Writing business, service and db layer modular codes to get, update and delete data.</li>
          <li>Technologies used - Golang, Cassandra and Docker.</li>
        </ul>
      </div>
      <br/>
      <div class="col">
        <!-- <h3>Sapient</h3> -->
        <img style="height: 200px; width: 400px;" src="/assets/images/sapient.jpeg">
        <p></p>
        <!-- <p>
          Interactive Developer L1 ( 06/2014 - 05/2016, Bangalore )
        </p> -->
        <p>I have worked as Interactive developer L1 at Sapient Nitro from June 2014 till May 2016. My tasks and duties were as follows</p>
        <ul>
          <li>Specialized developer in Front-End domain for several multi-million dollar clients.</li>
          <li>Developed and tested responsive components with cross browser compatibility for client’s webpages.</li>
          <li>Reduced the maintenance effort required by automation of CSS for all clients’s modules using GRUNT and LESS</li>
          <li>Managed Front-End developers and Point of Contact for all front end development</li>
          <li>Technologies used were HTML5, AJAX, Javascript, JQuery, Bootstrap, NodeJS, AngularJS, CSS3, LESS, Grunt</li>
        </ul>
      </div>
    </div>

  </div>
</div>
