<div class="container">
  <div class="page">
    <div class="text">
      <div>
        <h2>Contact Me</h2>
      </div>
      <div class="col">
        <!-- <h3>LinkedIn</h3> -->
        <p>
          <a href="https://www.linkedin.com/in/gaurav-kumar-40492954/">
            <img style="border-radius: 50%; width: 100px;" src="./assets/images/linkedin.png">
          </a>
        </p>
      </div>
      <div class="col">
        <!-- <h3>Facebook</h3> -->
        <p>
          <a href="https://www.facebook.com/gauravkcool92">
            <img style="border-radius: 50%; width: 100px;" src="/assets/images/fb.png">
          </a>
        </p>
      </div>
      <div class="col">
        <!-- <h3>Email</h3> -->
        <p>
          <a href="mailto: gauravkumar7aug92@gmail.com" target="_blank">
            <img style="border-radius: 50%; width: 100px;" src="/assets/images/email.png">
          </a>
        </p>
      </div>
      <div class="col">
        <p>
          <a href="tel: +49 176 8512 6426" target="_blank">
            <img style="border-radius: 50%; width: 100px;" src="/assets/images/phone.png">
          </a>
        </p>
      </div>
      <div class="col">
        <p>
          <a href="https://github.com/gauravkumar313">
            <img style="border-radius: 50%; width: 100px;" src="/assets/images/github.png">
          </a>
        </p>
      </div>
    </div>
  </div>
</div>
