<div class="col">
  <h3>IMDb Rating and Gross Income Prediction</h3>
  <p>
    Developed a tool for cleaning of IMDb's data and prediction of rating for upcoming movies based on the attributes like actor’s rating, director’s rating, genre using machine learning techniques such as Decision tree, K means Clustering and Neural Networks.
  </p>
</div>
<div class="col">
  <h3>Bitcoin Price Variation Prediction</h3>
  <p>
    Utilized machine learning technique of Bayesian Regression in Python to predict the variation in the cryptocurrency useful for bitcoin trading
  </p>
</div>
<div class="col">
  <h3>Market Segmentation
  </h3>
  <p>
    Developed an application to predict the communities using Facebook’s data using Python, useful in detecting the group of people with similar taste, helpful in recommendation of friends, network analysis and visualization based on the algorithm Structure-Attribute Clustering.
  </p>
</div>
<div class="col">
  <h3>Yelp Data Analysis</h3>
  <p>
    Built an application to predict the popularity of a restaurant at a particular day and time based on time series analysis on the checkin dataset provided by Yelp using Python and MongoDB. The application also predicts the performance of the particular business based ont he sentiments of reviews it recieves over a period of time. Fake reviews and ratings affect the final rating and poplarity of a business. Application also tries to detect fake users and users which kept under the scanner because their behaviour is a bit weird based on their social network, their review history and smillarity of the reviews.
  </p>
</div>
<div class="col">
  <h3>Overlapping Community Detection</h3>
  <p>
    Implemented the algorithm from the paper Efficient Identification of Overlapping Communities to detect overlapping communities in social networks. the algorithm uses the communication graph to find the structure of the communities. This knowledge about the structure is helpful in descovering groups of actors that hide their commmunications, possibly for malicious reasons. the algorithm used produces clusters of a comparable or better quality. The dataset used was Amazon's community graph.
  </p>
</div>
<div class="col">
  <h3>Bitcoin Price Variation Prediction</h3>
  <p>
    Utilized machine learning technique of Bayesian Regression in Python to predict the variation in the cryptocurrency useful for bitcoin trading
  </p>
</div>
<div class="col">
  <h3>Virus Propogation</h3>
  <p>
    Implemented and algorithm to determine wheather a virus will result in an epidemic or it will die quickly. for a given network of individuals, where the edges represent who can potentially infect whom, the rate of porpogation of a virus across the network depends on the connectivity of the network and on the propogation model of the virus. The result have important inplication for the design and evaluation of immunization policies and can be applied to many problems, such as minimiing the spread od malware in computer networks or maximizing the spread od a makrketing campaign across a social network.
  </p>
</div>
<div class="col">
  <h3>Anomaly Detection in Time Evolving Networks</h3>
  <p>
    Anomaly detection refers to the problem of finding patterns in data which fail to conform to the expected standard. These anomalous patterns is useful to a number of business applications, such as identifying trending topics on social media and suspicious traffic on computer networks, as well as detecting credit card fraud, insurance fraud, and eauction fraud. Implemented the algorithm from the paper: NetSimile: A Scalable Approach to Size-Independent Network Similarity
  </p>
</div>
