<div class="container">
  <div class="page">
    <div class="text">
      <div>
        <h2>Skills</h2>
      </div>
      <div>
        <p>
          I have broad experience across a wide spectrum of software programming languages, technology stacks, databases and tools.
        </p>
      </div>
      <div>
        <div class="col">
          <p>Computer Languages</p>
          <ul>
            <li>C</li>
            <li>C++</li>
            <li>Java</li>
            <li>C#</li>
            <li>Perl</li>
          </ul>
        </div>
        <div class="col">
          <p>Data Science</p>
          <ul>
            <li>Python</li>
            <li>MySQL</li>
            <li>Apache Kafka</li>
            <li>Numpy</li>
            <li>Perl</li>
            <li>Scipy</li>
            <li>Pandas</li>
            <li>Matplotlib</li>
            <li>NLTK</li>
            <li>Scikit-Learn</li>
          </ul>
        </div>
        <div class="col">
          <p>Web Developement</p>
          <ul>
            <li>HTML</li>
            <li>CSS</li>
            <li>JavaScript</li>
            <li>Jquery</li>
            <li>BootStrap</li>
            <li>LESS</li>
            <li>AJAX</li>
            <li>NodeJS</li>
            <li>AngularJS</li>
            <li>ReactJS</li>
            <li>HandleBars</li>
          </ul>
        </div>
        <div class="col">
          <p>Web Services</p>
          <ul>
            <li>AWS</li>
            <li>DynamoDB</li>
            <li>Map Reduce</li>
            <li>HIVE</li>
            <li>Hadoop</li>
            <li>Amazon EC2</li>
          </ul>
        </div>
        <!-- <table mat-table class="mat-elevation-z8" [dataSource]="dataSource">
          <ng-container matColumnDef="">
            <th mat-header-cell *matHeaderCellDef> Computer Languages </th>
            <td mat-cell>C</td>
            <td mat-cell>C++</td>
            <td mat-cell>Java</td>
            <td mat-cell>C#</td>
            <td mat-cell>Perl</td>
          </ng-container>
          <ng-container matColumnDef="">
            <th mat-header-cell *matHeaderCellDef> Data Science </th>
            <td mat-cell>Python</td>
            <td mat-cell>SQL</td>
            <td mat-cell>Apache Kafka</td>
            <td mat-cell>Doc2Vec</td>
            <td mat-cell>Numpy</td>
            <td mat-cell>Python</td>
            <td mat-cell>Scipy</td>
            <td mat-cell>Pandas</td>
            <td mat-cell>Matplotlib</td>
            <td mat-cell>NLTK</td>
            <td mat-cell>Scikit-Learn</td>
          </ng-container>
          <ng-container matColumnDef="">
            <th mat-header-cell *matHeaderCellDef> Web Developement</th>
            <td mat-cell>HTML</td>
            <td mat-cell>CSS</td>
            <td mat-cell>JavaScript</td>
            <td mat-cell>Jquery</td>
            <td mat-cell>BootStrap</td>
            <td mat-cell>LESS</td>
            <td mat-cell>AJAX</td>
            <td mat-cell>NodeJS</td>
            <td mat-cell>AngularJS</td>
            <td mat-cell>ReactJS</td>
            <td mat-cell>HandleBars</td>
          </ng-container>
          <ng-container matColumnDef="">
            <th mat-header-cell *matHeaderCellDef> Web Services</th>
            <td mat-cell>AWS</td>
            <td mat-cell>DynamoDB</td>
            <td mat-cell>Map Reduce</td>
            <td mat-cell>Distributed Systems</td>
            <td mat-cell>Kinesis</td>
            <td mat-cell>HIVE</td>
            <td mat-cell>Hadoop</td>
            <td mat-cell>Amazon EC2</td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef=""></tr>
        </table> -->
      </div>
    </div>
  </div>
</div>
