<div class="parent">
  <div class="top">

    <a [routerLink]=" ['/home']" routerLinkActive="active-link" alt="home" title="Home"
      tooltip="Tooltip on left" autoPlacement="true">
      <div class="icon-box">
        <div class="icon">
          <mat-icon aria-hidden="false" aria-label="Example home icon">home
          </mat-icon>
        </div>

      </div>
    </a>

    <a [routerLink]="['/about']" routerLinkActive="active-link" alt="home" title="Support">
      <div class="icon-box">
        <div class="icon">
          <span class="icon-text">About Me</span>
        </div>
      </div>
    </a>

    <a [routerLink]="['/experience']" routerLinkActive="active-link" title="Recipe">
      <div class="icon-box">
        <div class="icon">
          <span class="icon-text">Experience</span>
        </div>
      </div>
    </a>

    <a [routerLink]="['/skill']" routerLinkActive="active-link" title="Supplier">
      <div class="icon-box">
        <div class="icon">
          <span class="icon-text">Skills</span>
        </div>
      </div>
    </a>

    <a [routerLink]="['/project']" routerLinkActive="active-link" title="Ingredient">
      <div class="icon-box">
        <div class="icon">
          <span class="icon-text">Projects</span>
        </div>
      </div>
    </a>

    <a [routerLink]="['/contact']" routerLinkActive="active-link" title="Ingredient">
      <div class="icon-box">
        <div class="icon">
          <span class="icon-text">Contact Me</span>
        </div>
      </div>
    </a>
  </div>


  <!-- <div class="bottom">
    <a style=" cursor: pointer;">
      <div class="icon-box">
        <div class="icon">
          <mat-icon aria-hidden="false" aria-label="Example home icon">exit_to_app
          </mat-icon>
        </div>
      </div>
    </a>
  </div> -->



</div>
