<div class="col">
  <h3>Data Analysis Using Python</h3>
  <p>
    Data Analysis or sometimes referred to as exploratory data analysis (EDA) is one of the core components of data science. It is also the part on which data scientists, data engineers and data analysts spend their majority of the time which makes it extremely important in the field of data science. This repository demonstartes some common exploratory data analysis methods and techniques using python.
  </p>
  <div>
    <a href="https://github.com/gauravkumar313/python-for-data-analysis">Github</a>
  </div>
</div>
<div class="col">
  <h3>Sales Insights Data Analysis Project using PowerBI</h3>
  <p>
    To unlock sales insights that are not visible before for sales team for decision support & automate them to reduced manual time spent in data gathering.
  </p>
  <div>
    <a href="https://github.com/gauravkumar313/power-bi/tree/master/1_SalesInsights">Github</a>
  </div>
</div>
<div class="col">
  <h3>SQL for Data Analysis</h3>
  <p>
    Contains basic operations using MySQL.  SQL commands can be used to explore the dataset and run queries on it.
  </p>
  <div>
    <a href="https://github.com/gauravkumar313/Advanced-SQL_for-Data-Scientists">Github</a>
  </div>
</div>
<div class="col">
  <h3>Sales Insights Data Analysis Project using Tableau</h3>
  <p>
    To unlock sales insights that are not visible before for sales team for decision support & automate them to reduced manual time spent in data gathering.
  </p>
  <div>
    <a href="https://github.com/gauravkumar313/power-bi/tree/master/2_SalesInsightsTableau">Github</a>
  </div>
</div>
<div class="col">
  <h3>Personal Finance using PowerBI</h3>
  <p>
    An approach to fully dynamic pivot in Power BI using python to clean up and transform data while tracking personal finance. How to pivot in Power BI while keeping all columns fully dynamic, making it easy to add new data without the need to touch our model.
  </p>
  <div>
    <a href="https://github.com/gauravkumar313/power-bi/tree/master/3_PersonalFinance">Github</a>
  </div>
</div>
<div class="col">
  <h3>HR Analytics using PowerBI</h3>
  <p>
    The Human Resources Power BI dashboard allows users to get a clear overview of the company's employees and the most relevant top-level KPIs: Headcount, Salaries, Hires and Terminations.
  </p>
  <div>
    <a href="https://github.com/gauravkumar313/power-bi/tree/master/4_HRAnalytics">Github</a>
  </div>
</div>



