<div class="container">
  <div class="page">
    <div class="text">
      <div>
        <h2>Data Science Projects</h2>
      </div>
      <mat-tab-group>
        <mat-tab label="Data Analyst">
          <app-data-analysis></app-data-analysis>
        </mat-tab>
        <mat-tab label="Data Science">
          <app-data-science></app-data-science>
        </mat-tab>
        <!-- <mat-tab label="Databases">
          <app-database></app-database>
        </mat-tab>
        <mat-tab label="Web Services">
          <app-web-service></app-web-service>
        </mat-tab> -->
      </mat-tab-group>
    </div>
  </div>
</div>

