<div class="container">
  <div class="page">
    <!-- <div class="logo">
      <div class="logo-main" style="display: grid; place-items: center;">
        <img src="../../../../../assets/images/Logo_Tagline_white.png" style="height: 100px; width: 300px;" alt="">
      </div>
    </div> -->
    <div class="text">
      <h4>Hi, my name is</h4>
      <h1>Gaurav Kumar.</h1>
      <div>
        <h2>Master of Web & Data Science</h2>
      </div>
      <div>
        <h2>Bachelor of Engineering - Information Science Engineering</h2>
      </div>
      <p>
        I am a computer science enthusiast interested in Data Analyst, Data Science, Artificial Intelligence,
        Web Development and Back End Development. I want to make computers smarter and useful
        in solving daily problems and help us in a smarter way. You can find the list of the
        projects which I have worked on in the projects tab. I am actively looking for job
        opportunities with organizations who can leverage my skills and experience and at the
        same time provide me with a challenge. Offline I am great company to hang out, with my
        hobbies ranging from playing chess, travelling, public speaking, working out, photography
        and a lot more.
      </p>
      <p class="github">
        Select any tab to know about me and my skills
      </p>
    </div>
  </div>
</div>
